<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:oracle:thin:@localhost:1521:XE
        </property>

        <property name="connection.driver_class">
            oracle.jdbc.driver.OracleDriver
        </property>

        <property name="connection.username">
            martin
        </property>

        <property name="connection.password">
            0797
        </property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.OracleDialect
        </property>

        <mapping class="entities.Bcomp"/>
        <mapping class="entities.RegistrationCodes"/>
        <mapping class="entities.UserPicture"/>
        <mapping class="entities.UserProfile"/>
        <mapping class="entities.UserRole"/>
        <mapping class="entities.Users"/>
        <mapping class="entities.UserSession"/>
        <mapping class="entities.UserStudying"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>